spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - http://localhost:8081
                  - http://localhost:19000
                  - http://localhost:19006
                  - http://10.0.2.2:19000
                  - http://10.0.2.2:19006
                  - https://cfxwv_8-anonymous-8081.exp.direct
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers: "*"
                allow-credentials: true
          routes:
            - id: service-catalog
              uri: http://localhost:8083
              predicates:
                - Path=/api/products/**

server:
  port: 8090