name: Lint Workflow

on:
  workflow_call:

jobs:
  lint-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Lint (Checkstyle + SpotBugs)
        run: mvn verify -Dmaven.test.skip=true
