name: IWA NextLevel - CI Pipeline

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  # Étape 1 : Lint
  lint:
    uses: ./.github/workflows/lint.yml

  # Étape 2 : Tests
  # tests:
  #   uses: ./.github/workflows/tests.yml
  #   needs: lint

  # Étape 3 : Build 
  # build:
  #   uses: ./.github/workflows/build.yml
  #   needs: tests
